// Fonts
// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import './bootstrap-flex-only';

@import '~vue-select/dist/vue-select.css';

/**
* CUSTOM STYLES
**/

li.list-group-item:after {
    content: "";
    display: block;
    clear: both;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.nav-transition-enter-active {
    transition: all 0.5s ease;
}

.nav-transition-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.nav-transition-enter,
.nav-transition-leave-to

/* .nav-transition-leave-active below version 2.1.8 */
    {
    transform: translateY(-10px);
    opacity: 0;
}

.pointer {
    cursor: pointer !important;
}

/** Reduce the size of swal modals on mobiule devices **/

.swal-overlay .swal-modal {
    @media (max-width: 767px) {
        transition: all ease 300ms;
        transform: scale(0.7);
    }
}
